#people_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .people_container {
    transition: all .6s;
    margin-bottom: 80px;
    .person_card {
        display: inline-block;
        @extend .shadow_1;
        margin: 16px;
        transition: all .6s ease-in-out;
        width: 280px;
        position: relative;
        .per_close_btn {
            position: absolute;
            top: 16px;
            right: 16px;
            font-size: 24px;
            transform: rotate(45deg);
            transition: all .3s;
            z-index: 10;
            i.fa {
                color: $mid_gray;
            }
        }
        &.active {
            width: calc(100% - 32px);
            .per_close_btn {
                transform: rotate(0);
            }
        }
        &:hover {
            @extend .shadow_1_5;
        }
      .bio_box {
        display: none;
        padding: 40px 48px 40px 16px;
        text-align: justify;
        position: relative;
        @media (max-width: 500px) {
            padding: 48px 16px;
        }
        .box_content {
          @extend .fadeInDownShort;
          animation-duration: .5s;
          animation-delay: .8s;
          animation-fill-mode: both;
        }
        &.active {
          display: block;
        }
      }
      .per_wrap_btn {
        flex: 0 0 280px;
        width: 280px;
        padding: 16px;
        display: block;
        color: $black;
        text-decoration: none;
        transition: all .3s;
        .per_img {
          width: 100%;
          padding: 16px 36px;
          img {
            display: block;
            border-radius: 50%;
            width: 100%;
            // border: 1px solid blue;
          }
        }
        .per_title {
          text-align: center;
          font-size: 1.4rem;
          font-weight: bold;
        }
        .per_name {
          text-align: center;
          font-size: 1.7rem;
          font-weight: bold;
          margin-bottom: 16px;
        }
        .per_info {
          text-align: center;
          font-size: 1.4rem;
          margin-bottom: 16px;
        }
        .per_contact {
          text-align: center;
          font-size: 1.1rem;
        }
        .per_bio {
          display: flex;
          justify-content: center;
          margin-top: 16px;
        }
      }
      .inner_card {
        display: flex;
        overflow: hidden;
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
      }
    }
    &.flex_people {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .person_card {
            width: 300px;
        }
    }
  }
}
